// =============================================================================
// Size
// =============================================================================


@mixin size($w, $h: null) {
    width: $w;

    @if ($h == null) {
        height: $w;
    } @else {
        height: $h;
    }
}
