// =============================================================================
// Colors
// =============================================================================

// Named
// =============================================================================

$black: #222;
$white: #eee;

// Types
// =============================================================================

$color-brand: #a34d88;

$color-accessibility: #c09;

$color-positive: #080;
$color-negative: #f00;
$color-neutral: #ff0;

// Theme
// =============================================================================

$color-font: $black;
$color-font-heading: $black;

$color-background: $white;

$color-link: $color-brand;
$color-link-hover: darken($color-link, 25%);

