// =============================================================================
// Colors
// =============================================================================


// Named
// =============================================================================

$black: #171717;
$white: #eee;


// Specifics
// =============================================================================

$color-brand: #a34d88;

$color-accessibility: #c09;

$color-positive: #008000;
$color-negative: #f00;
$color-neutral: #ff0;


// Base
// =============================================================================

$color-font: $white;
$color-font-heading: $white;

$color-background: $black;

$color-link: #c09;
$color-link-hover: darken($color-link, 25%);

