// =============================================================================
// Type
// =============================================================================
// Keep consistant font styles throughout the site accessing mixins.

// Font
// =============================================================================

$font-faces: (
    //FontName: '../fonts/font-group-folderfont-file',
);

$font-family-sans: sans-serif;
$font-family-serif: serif;
$font-family-mono: monospace;
$font-family-brand: 'Helvetica Neue';

$base-font-family: $font-family-sans;
$heading-font-family: $font-family-brand, $font-family-sans;

// Rhythm
// =============================================================================

$base-scale: 1.5;

$base-unit: 'em';
$base-font-size: 18px;
$base-line-height: $base-scale * $base-font-size;

$indent-amount: $base-scale * $base-font-size;

$h1-font-size: 2.7 * $base-font-size;
$h2-font-size: 1.25 * $base-font-size;
$h3-font-size: 1.15 * $base-font-size;

// Style
// =============================================================================

@mixin type-base {
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    font-weight: 300;
}

@mixin type-code {
    $font-size: $base-font-size - 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: $font-family-mono;
    font-size: em($font-size);
    font-weight: 300;
}

@mixin type-brand {
    font-family: $font-family-brand;
    font-weight: 200;
}

@mixin type-heading {
    font-family: $heading-font-family;
    font-weight: 100;
    text-rendering: optimizelegibility;
}

// Set Web Font
// =============================================================================

@mixin webfont ($family, $asset) {
    @font-face {
        font-family: '#{$family}';
        font-style: normal;
        font-weight: normal;
        src: url('#{$asset}.eot'),
        url('#{$asset}.eot?#iefix') format('embedded-opentype'),
        url('#{$asset}.woff2') format('woff2'),
        url('#{$asset}.woff') format('woff'),
        url('#{$asset}.ttf') format('truetype'),
        url('#{$asset}.svg##{$family}') format('svg');
    }
}

@each $family, $asset in $font-faces {
    @include webfont($family, $asset);
}

// Set Type
// =============================================================================

@mixin set-type($font-size, $margin: 1 0) {
    @include normalize-font-size($font-size);
    @if $normalize-vertical-rhythm {
        @include normalize-line-height($font-size);
    }
    @if $normalize-vertical-rhythm {
        @include normalize-margin($margin, $font-size);
    }
}
