// =============================================================================
// Layouts >> Flex Grid
// =============================================================================


.row {
    $child-name: 'col';
    $columns: 10;
    $custom-sizes: (
        some: 25%,
        half: 50%,
        most: 75%,
        full: 100%
    );
    $space: 5%;

    @mixin child-item {
        flex: none;
    }


    &#{&} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > * {
            width: 100%;
        }
    }

    @for $i from 1 through $columns {
        $width: percentage($i / $columns);

        .#{$child-name}-#{$i} {
            @include child-item;
            width: $width - $space;
        }
    }

    @each $name, $width in $custom-sizes {
        .#{$child-name}-#{$name} {
            @include child-item;
            width: $width - $space;
        }
    }
}
