// =============================================================================
// Base >> Button
// =============================================================================

$button-background-color: #ccc !default;
$button-color: #333 !default;
$button-border-color: #333 !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border: $button-border-width $button-border-style $button-border-color !default;

button,
.button {
    background-color: $button-background-color;
    border: $button-border;
    border-radius: .25em;
    color: $button-color;
    cursor: pointer;
}
