// =============================================================================
// Document
// =============================================================================


html {
    @include type-base;
    background-color: $color-background;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $color-font;
}
