// =============================================================================
// Base >> Links
// =============================================================================

$link-border-bottom: 1px solid $white !default;
$link-color: #c09 !default;
$link-decoration: none !default;

$link-border-bottom--focus: 1px solid #c09 !default;

a {
    border-bottom: 1px dotted $white;
    color: $link-color;
    text-decoration: $link-decoration;

    &:focus,
    &:hover {
        border-bottom: $link-border-bottom--focus;
    }
}
